body {
	overflow: hidden;
	margin: 0;
	max-width: 100%;
	min-height: 100%;
	background: #ffffff;
	font-family: "SFUEurostileOblique", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	line-height: 1.5;
	position: relative;
	letter-spacing: normal;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-backface-visibility: hidden;
}
@font-face {
	font-family: 'SFUEurostileBoldExtendedTwo';
	src: url("SFUEurostileBoldExtendedTwo.eot");
	src: url("SFUEurostileBoldExtendedTwo.woff2") format("woff2"), url("SFUEurostileBoldExtendedTwo.woff") format("woff"), url("SFUEurostileBoldExtendedTwo.ttf") format("truetype"), url("../fonts/SFUEurostileBoldExtendedTwo.svg#SFUEurostileBoldExtendedTwo") format("svg"), url("../fonts/SFUEurostileBoldExtendedTwo.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFUEurostileBoldOblique';
	src: url("SFUEurostileBoldOblique.eot");
	src: url("SFUEurostileBoldOblique.woff2") format("woff2"), url("SFUEurostileBoldOblique.woff") format("woff"), url("SFUEurostileBoldOblique.ttf") format("truetype"), url("../fonts/SFUEurostileBoldOblique.svg#SFUEurostileBoldOblique") format("svg"), url("SFUEurostileBoldOblique.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFUEurostileOblique';
	src: url("SFUEurostileOblique.eot");
	src: url("SFUEurostileOblique.woff2") format("woff2"), url("SFUEurostileOblique.woff") format("woff"), url("SFUEurostileOblique.ttf") format("truetype"), url("../fonts/SFUEurostileOblique.svg#SFUEurostileOblique") format("svg"), url("SFUEurostileOblique.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}
.ovl {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
}
.dgt_cl {
	clear: both;
	overflow: hidden;
}
.helper-hide {
	display: none;
}
.helper-force-hide {
	display: none !important;
}
.scrolled {
	width: 100%;
	.g-viewport {
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	.g-overview {
		list-style: none;
		position: absolute;
		left: 0;
		top: 0;
		padding: 0 40px 0 0;
		width: 100%;
	}
	.g-thumb {
		.end {
			background: #215eb3;
			left: -2px;
			overflow: hidden;
			height: 5px;
			width: 10px;
		}
		background: #215eb3;
		left: -2px;
		height: 20px;
		width: 10px;
		cursor: pointer;
		overflow: hidden;
		position: absolute;
		top: 0;
	}
	.g-scrollbar {
		position: relative;
		float: right;
		width: 10px;
	}
	.g-track {
		height: 100%;
		width: 5px;
		position: relative;
		background: #bababa;
	}
	.g-disable {
		display: none;
	}
}
.g-noSelect {
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.styled {
	display: none;
}
.checkbox {
	width: 25px;
	height: 25px;
	background: url(images/checkbox.png) no-repeat;
	display: inline-block;
}
.radio {
	width: 25px;
	height: 25px;
	background: url(images/checkbox.png) no-repeat;
	display: inline-block;
	background: url(images/radio.png) no-repeat;
	cursor: pointer;
}
input[type="text"] {
	background: transparent;
	line-height: 1;
	height: 40px;
	font-size: 16px;
	color: #fff;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #5e5e5e;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		transition: border .3s;
		border: 1px solid #fff;
	}
	&::-moz-selection {
		background: #ededed;
		text-shadow: none;
	}
	&::selection {
		background: #ededed;
		text-shadow: none;
	}
}
input[type="password"] {
	background: transparent;
	line-height: 1;
	height: 40px;
	font-size: 16px;
	color: #fff;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #5e5e5e;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		transition: border .3s;
		border: 1px solid #fff;
	}
	&::-moz-selection {
		background: #ededed;
		text-shadow: none;
	}
	&::selection {
		background: #ededed;
		text-shadow: none;
	}
}
input[type="number"] {
	background: transparent;
	line-height: 1;
	height: 40px;
	font-size: 16px;
	color: #fff;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #5e5e5e;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-moz-appearance: textfield;
	&:focus {
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		transition: border .3s;
		border: 1px solid #fff;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
		color: #fff;
		height: auto;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		color: #fff;
		height: auto;
	}
}
input[type="email"] {
	background: transparent;
	line-height: 1;
	height: 40px;
	font-size: 16px;
	color: #fff;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #5e5e5e;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		transition: border .3s;
		border: 1px solid #fff;
	}
}
input[type="date"] {
	background: transparent;
	line-height: 1;
	height: 40px;
	font-size: 16px;
	color: #fff;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #5e5e5e;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #5e5e5e;
	&:focus {
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		transition: border .3s;
		border: 1px solid #fff;
	}
	&::-webkit-calendar-picker-indicator {
		display: none;
	}
	&::-webkit-inner-spin-button {
		display: none;
	}
}
input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&:-webkit-autofill {
		-webkit-text-fill-color: #fff !important;
		-webkit-animation-name: autofill;
		-webkit-animation-fill-mode: both;
	}
	color: inherit;
	font: inherit;
	margin: 0;
	line-height: normal;
	outline: none;
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
textarea {
	&:-webkit-autofill {
		-webkit-text-fill-color: #fff !important;
	}
	&::-moz-selection {
		background: #ededed;
		text-shadow: none;
	}
	&::selection {
		background: #ededed;
		text-shadow: none;
	}
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: auto;
	resize: vertical;
	outline: none;
}
select {
	&:-webkit-autofill {
		-webkit-text-fill-color: #fff !important;
	}
	background-color: #000;
	color: #FFF;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	background: none;
	color: inherit;
	font: inherit;
	margin: 0;
	text-transform: none;
	* {
		background-color: #000;
		color: #FFF;
	}
}
.select_filter {
	width: 100%;
	text-align: center;
	line-height: 38px;
	padding: 0;
	margin: 0;
	color: #5e5e5e;
	font-size: 16px;
	background: url(images/ar.png) no-repeat 95% center;
	background-size: 12px auto;
	display: inline-block;
	select {
		position: relative;
		z-index: 10;
		padding: 5px 50px 5px 10px;
		width: 100%;
		border: 1px solid #5e5e5e;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		appearance: none;
		border-radius: 0;
		line-height: 1.8;
		&:focus {
			outline: none;
			border: 1px solid #fff;
			border-radius: 0;
			color: #fff;
		}
	}
}
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.13);
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-backface-visibility: hidden;
	height: 100%;
	font-size: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	input[type="button"] {
		-webkit-appearance: button;
		cursor: pointer;
	}
	input[disabled] {
		cursor: default;
	}
}
[hidden] {
	display: none;
}
template {
	display: none;
}
a {
	background: transparent;
	&:active {
		outline: 0;
	}
	&:hover {
		outline: 0;
	}
}
abbr[title] {
	border-bottom: 1px dotted;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
img {
	border: 0;
	vertical-align: middle;
}
svg {
	&:not(:root) {
		overflow: hidden;
	}
	vertical-align: middle;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 20px 0;
	padding: 0;
}
pre {
	overflow: auto;
	font-family: monospace, monospace;
	font-size: 1em;
}
code {
	font-family: monospace, monospace;
	font-size: 1em;
}
kbd {
	font-family: monospace, monospace;
	font-size: 1em;
}
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	cursor: pointer;
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
optgroup {
	color: inherit;
	font: inherit;
	margin: 0;
	font-weight: bold;
}
input[type="reset"] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled] {
	cursor: default;
}
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
	}
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 0;
	margin: 0;
	padding: 0;
}
legend {
	border: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding: 0;
}
th {
	padding: 0;
}
p {
	margin: 0;
}
audio {
	vertical-align: middle;
}
canvas {
	vertical-align: middle;
}
video {
	vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
  }
a {
	text-decoration: none;
	transition: -webkit-transform 1s;
	transition: transform 1s;
}
ul {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		list-style: none;
	}
}
ol {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		list-style: none;
	}
}
table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
	font-family: "SFUEurostileBoldOblique", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.05;
}
h2 {
	font-family: "SFUEurostileBoldOblique", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	font-size: 1.625em;
	line-height: 1.1538461538;
}
h3 {
	font-family: "SFUEurostileBoldOblique", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.1666666667;
}
h4 {
	font-family: "SFUEurostileBoldOblique", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1.2;
}
h5 {
	font-family: "SFUEurostileBoldOblique", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	font-size: 1.125em;
	line-height: 1.3333333333;
}
h6 {
	font-family: "SFUEurostileBoldOblique", Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	font-size: 0.875em;
	line-height: 1.4285714286;
}
strong {
	font-weight: bold;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
@media screen and (max-width: 1024px) {
	body {
		-webkit-overflow-scrolling: touch;
    }
}