.wrap_btn_video{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 15%;
    top: 49%;
    width: 100%;
}
.wrapper-video {
    --color: #126D0C;
    --color-invert: #ffffff;
    --clip-path: circle(15px at left);
    --clip-path-hover: circle(70px at left);
    --clip-path-clicked: circle(100vw at left);
    --duration: .4s;
    --timing-function: ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.wrapper-video .video {
    height: 12vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    -webkit-clip-path: var(--clip-path);
    clip-path: var(--clip-path);
    -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
    transition: -webkit-clip-path var(--duration) var(--timing-function);
    transition: clip-path var(--duration) var(--timing-function);
    transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}

.wrapper-video .video iframe {
    position: absolute;
    background: #c4cbde;
    top: 50%;
    left: 50%;
    width: 653px;
    height: 360px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wrapper-video .text {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
    opacity: var(--opacity, 1);
    -webkit-transition: opacity 0.3s var(--timing-function) 0.2s;
    transition: opacity 0.3s var(--timing-function) 0.2s;
}

.wrapper-video .text::before,
.wrapper-video .text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 25px;
    height: 0;
}

.wrapper-video .text::before {
    -webkit-box-shadow: 26px 0 0 1px var(--color);
    box-shadow: 26px 0 0 1px var(--color);
    right: var(--r, 100%);
    opacity: var(--opacity, 0);
    -webkit-transition: right .5s ease-in, opacity .1s linear;
    transition: right .5s ease-in, opacity .1s linear;
}

.wrapper-video .text::after {
    -webkit-box-shadow: 26px 0 0 1px var(--color-invert);
    box-shadow: 26px 0 0 1px var(--color-invert);
    -webkit-clip-path: var(--clip-path);
    clip-path: var(--clip-path);
    -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
    transition: -webkit-clip-path var(--duration) var(--timing-function);
    transition: clip-path var(--duration) var(--timing-function);
    transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}

.wrapper-video .text > span::before,
.wrapper-video .text > span::after {
    content: attr(data-text);
    padding-left: 26px;
}

.wrapper-video .text > span::before {
    color: var(--color);
}

.wrapper-video .text > span::after {
    color: var(--color-invert);
    -webkit-clip-path: var(--clip-path);
    clip-path: var(--clip-path);
    -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
    transition: -webkit-clip-path var(--duration) var(--timing-function);
    transition: clip-path var(--duration) var(--timing-function);
    transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
    position: absolute;
    left: 0;
}

.wrapper-video input {
    width: 220px;
    height: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 40px;
    z-index: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.wrapper-video input:focus {
    outline: 0;
}

.wrapper-video input:hover ~ .video {
    -webkit-clip-path: var(--clip-path-hover);
    clip-path: var(--clip-path-hover);
}

.wrapper-video input:hover ~ .text::before {
    --r: 25px;
    --opacity: 1;
}

.wrapper-video input:hover ~ .text::after {
    -webkit-clip-path: var(--clip-path-hover);
    clip-path: var(--clip-path-hover);
}

.wrapper-video input:hover ~ .text > span::after {
    -webkit-clip-path: var(--clip-path-hover);
    clip-path: var(--clip-path-hover);
}

.wrapper-video input:checked {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.wrapper-video input:checked ~ .video {
    -webkit-clip-path: var(--clip-path-clicked);
    clip-path: var(--clip-path-clicked);
}

.wrapper-video input:checked ~ .text {
    --opacity: 0;
    -webkit-transition: opacity 0.3s var(--timing-function);
    transition: opacity 0.3s var(--timing-function);
}

.wrapper-video input:checked ~ .text::after {
    -webkit-clip-path: var(--clip-path-clicked);
    clip-path: var(--clip-path-clicked);
}

.wrapper-video input:checked ~ .text > span::after {
    -webkit-clip-path: var(--clip-path-clicked);
    clip-path: var(--clip-path-clicked);
}

    @media (max-width:1024px) {
        .wrap_btn_video{
            left: -2%;
            top: -4%;
            position: relative;  } 
        
    }
