/* -----------------------Register section------------------------------ */
@media screen and (min-height: 750px) {
  #register {
    padding-top: 15vh;
  }

  #register .contain {
    padding-top: 8vh;
  }
}
/* -----------------------Register section------------------------------ */


/* -----------------------Events section------------------------------ */
/* For general iPad layouts */
@media only screen and (device-width: 768px) {
  #events {
	height: 121vh;
  }
}
/* -----------------------Events section------------------------------ */